<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgb(8, 8, 8) !important">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">මුල් පිටුව</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">රහස්‍යතා ප්‍රතිපත්ති</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">නව ප්‍රතිපත්ති එකතු කිරීම</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">අප අමතන්න</a>
      </li>
    </ul>
  </div>
</nav>

<section class="home-about-area section-gap" id="statements">
  <div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="card col-4">
          <div class="card-header">
            <h4>Facebook Data Policy</h4>
          </div>
          <div class="card-body">
            <a href="index">
              <img
              style="height:90%; width:85%; margin:auto;display: block;"
              src="assets/facebook.png"
              alt=""
            />
            </a>
          </div>
        </div>
        <div class="card col-4">
            <div class="card-header">
              <h4>Youtube Policy</h4>
            </div>
            <div class="card-body">
              <a href="index2">
                <img
                style="height:90%; width:85%; margin:auto;display: block;"
                src="assets/youtube.png"
                alt=""
              />
              </a>
            </div>
          </div>
    </div>
  </div>
</section>
