<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgb(8, 8, 8) !important">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">මුල් පිටුව</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="privacystatements">රහස්‍යතා ප්‍රතිපත්ති</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="requests">නව ප්‍රතිපත්ති එකතු කිරීම</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">අප අමතන්න</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container">
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        YouTube
      </mat-panel-title>
      <mat-panel-description>
        Youtube හි තරඟ පිළිවෙත් හා මාර්ග සූචක
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div>
        <div>YouTube හි තරඟ පිළිවෙත් හා මාර්ග සූචක (Guidelines)</div>
        <br />
        <div>YouTube හි විකාශය වන හා YouTube භාවිතා කරන සියලු තරඟ සඳහා පහත දැක්වෙන නීති අදාළ වේ. මීට අමතරව, අපගේ රහස්&zwj;යතා පිළිවෙත් (Privacy Policy) , සේවා කොන්දේසි (Terms of Service) හා ප්&zwj;රජා මාර්ග සූචක (Community Guidelines) වලට එරෙහි වන අන්දමින් ඔබගේ තරඟ විකාශය කිරීම හෝ පැවැත්වීම සිදු කළ නොහැක.</div>
        <br />
        <div>Ad units හරහා තරඟ විකාශනයට YouTube ඉඩ නොදේ. නමුත්, පහත දැක්වෙන නීති වලට අනුකූල වන පරිදි, ඔබට ඔබේ වේදිකාව මත ඔබගේ අන්තර්ගතයන් හරහා තරඟ සඳහා පරිශීලකයින් සම්බන්ධ කර ගත හැකිය.</div>
        <div>1. සාමාන්&zwj;ය සීමා කිරීම් සහ අවශ්&zwj;යතා</div>
        <br />
        <div>1. ඔබගේ තරඟය සඳහා හුදෙක්ම ඔබ වගකිවයුතු වේ.</div>
        <br />
        <div>2. YouTubeහි විකාශය වන ඔබගේ තරඟය එක්සත් ජනපද සම්බාධක (US Sanctions) ඇතුළු අදාළ සියලු ෆෙඩරල්, රාජ්&zwj;ය හා ප්&zwj;රාදේශීය නීති හා රෙගුලාසි වලට අනුකූල විය යුතුය.</div>
        <br />
        <div>3. ඔබගේ තරඟයට කිසිදු තුන්වන පාර්ශ්වයක අයිතිවාසිකම් උල්ලංඝනය කිරීම හෝ එසේ උල්ලංඝනය කිරීම දිරිමත් කිරීම මෙන්ම කිසිදු නීති විරෝධී ක්&zwj;රියාකාරකමකට සහභාගී වීම දිරිමත් කිරීම කළ නොහැක.</div>
        <br />
        <div>4. ඔබ හට සියළුම අයිතීන් ලබාදෙන ලෙස හෝ ඔබ වෙත ඔවුන්ගේ ප්රවේශය පවරන ලෙස ඔබට පරිශීලකයාගෙන් ඉල්ලීම් කළ නොහැක.</div>
        <br />
        <div>5. ඔබගේ තරඟය සඳහා ප්&zwj;රවේශය නොමිලේ විය යුතුමය. ( ඔබගේ ප්&zwj;රාදේශීය ලොතරැයි නීති/ lottery laws පරීක්ෂා කිරීමටඅමතක නොකරන්න)</div>
        <br />
        <div>6. ඔබ හෝ වෙනත් කිසිදු තුන්වන පාර්ශ්වයක් views ප්&zwj;රමාණය, likes, dislikes හෝ subscribers ඇතුළු YouTube සේවාවෙහි ප්&zwj;රමිතිකයන් (Metrics) හසුරුවනු නොලැබේ. එසේ නොවුවහොත් එම ප්&zwj;රමිතිකයන්ට YouTube සේවාව සමඟ පරිශීලකයන්ගේ සත්&zwj;ය සම්බන්ධතාවය පෙන්විය නොහැකි වනු ඇත.</div>
        <br />
        <div>7. ඔබට YouTubeහි පූර්ව ලිඛිත කැමත්තකින් තොරව ඔබගේ තරඟය සඳහා YouTube ඇසුරු කරගැනීම හෝ අනුබද්ධ කිරීම සිදු කර නොහැක. කුමන ආකාරයකින් හෝ YouTube ඔබගේ තරඟයට සම්බන්ධ වී ඇති බව හෝ ඔබගේ තරඟය අනුමත (endorsed) කර ඇති බව හඟවන ප්&zwj;රකාශයන් හා ක්&zwj;රියාවන් මෙමගින් තහනම් වේ.</div>
        <br />
        <div>2. ඔබගේ නිල තරඟ නීති</div>
        <br />
        <div>1. ඔබ සතුව නිල නීති මාලාවක් තිබිය යුතුය.</div>
        <div>a) එහි ප්&zwj;රජා මාර්ග සූචක/ මාර්ගෝපදේශ (community guidelines) වලට සබැඳි ඇතුළත් කර තිබිය යුතු අතර ඒවාට අනුකූල නොවන ඇතුළත් කිරීම් නුසුදුසු වන බව සඳහන් කර තිබිය යුතුය.</div>
        <br />
        <div>b)එහි එක්සත් ජනපද සම්බාධක ඇතුළු සියළුම අදාල ෆෙඩරල්, රාජ්&zwj;ය හා ප්&zwj;රාදේශීය නීති මගින් අවශ්ය සියලු තොරතුරු හෙළිදරව් කිරීම් සඳහන් කළ යුතුය.</div>
        <br />
        <div>c) එම නීති මාලාව YouTubeහි සේවා කොන්දේසි හා සම්පූර්ණයෙන්ම අනුකූල විය යුතුය.</div>
        <br /><br />
        <div>2. ඔබගේ නිල නීති මාලාවෙහි දැක්වෙන ආකාරයට තරඟය පැවැත්වීම හා ත්&zwj;යාග පිරිනැමීම කළ යුතුය.</div>
        <br />
        <div>3. ඔබගේ නීති හා ඔබගේ තරඟ පරිපාලනයේ සියලු අංශ සඳහා ඔබ වගකිවයුතු වේ.</div>
        <br />
        <div>4. YouTube ඔබගේ තරඟයේ අනුග්&zwj;රාහකයෙකු නොවන බව ඔබගේ නීති වල පැහැදිලිව සඳහන් විය යුතු අතර ඔබේ තරඟයට අදාළ ඕනෑම වගකීමකින් සහ සියලු වගකීම් වලින් YouTube නිදහස් කිරීමට පරිශීලකයන් අවශ්&zwj;ය වේ.</div>
        <br />
        <div>5. තරඟය සඳහා ලබා ගන්නා ඕනෑම පෞද්ගලික දත්තයක් ඔබ විසින් භාවිතා කරන අකාරය පිළිබඳ විස්තර කෙරෙන නීත්&zwj;යානුකූල රහස්&zwj;යතා දැන්වීමක් (Legally Compliant Privacy Notice) ඇතුළත් කළ යුතු අතර ඔබ විසින් එයට අනුකූලව කටයුතු කළ යුතුය.</div>
        <br /><br />
        <div>වියාචනය/ විරහිත කිරීම (Disclaimer)</div>
        <br />
        <div>අප ඔබගේ නීතිඥයන් නොවන අතර මෙහි දක්වා ඇති තොරතුරු නෛතික උපදෙස් නොවේ. අප මෙය සපයන්නේ තොරතුරු ලබාදීමේ අරමුණෙන් වන අතර නීත්&zwj;යානුකූලව තරඟ පැවැත්වීම සඳහා අධිකරණ උපදෙස් ලබා ගන්නා ලෙස අපි ඔබට යෝජනා කරන්නෙමු.</div>
        </div>
  </mat-expansion-panel>
</mat-accordion>
</div>

