<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgb(8, 8, 8) !important">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">මුල් පිටුව</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">රහස්‍යතා ප්‍රතිපත්ති</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">නව ප්‍රතිපත්ති එකතු කිරීම</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">අප අමතන්න</a>
        </li>
      </ul>
    </div>
  </nav>
<div class="container">
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Facebook
      </mat-panel-title>
      <mat-panel-description>
        Facebook Data Policy
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p><strong>දත්ත පිළිබඳ ප්&zwj;ර</strong><strong>තිපත්ති</strong></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">මෙම ප්&zwj;රකාශනය මගින් facebook, Instagram, messenger සහ facebook සමාගමට අයත්
        අනෙකුත් සේවා</span> <span style="font-weight: 400;">මගින් අප එකතු කරගන්නා තොරතුරු පිලිබඳ විග්&zwj;රහ
        කෙරේ.</span></p>
    <p>&nbsp;</p>
    <p><strong>අප එකතු කරගන්නා තොරතුරු</strong></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">Facebook හා අනෙකුත් සේවා සැපයීම සඳහා ඔබගේ තොරතුරු ලබා ගැනීම අත්&zwj;යාවශ්&zwj;ය
        කාරණයකි. ඔබ පිලිබඳව එකතු කරගන්නා තොරතුරු සේවා භාවිත කරන ආකාරය අනුව වෙනස් විය හැකිය. Facebook Settings හා
        Instagram Settings වෙත පිවිසී ඔබට &zwj;මෙම තොරතුරු පරිශීලනය කිරීම හෝ මකා දැමීම සිදු කළ හැක.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">ඔබ හා අනෙක් පරිශීලකයන් සිදු කරන දේවල්</span></p>
    <p>&nbsp;</p>
    <ul>
      <li><strong><strong>ඔබ විසින් සපයන ලද තොරතුරු. </strong><span style="font-weight: 400;">අපගේ සේවා භාවිත කරමින් ඔබ
            විසින් සිදු කරල පල කිරීම්, වෙනත් අය සමග කල සංවාද පිලිබඳව අප තොරතුරු රැස් කරගනු ලබයි.මෙම තොරතුරු අතරට
            ඡායාරූපයක් ලබාගත් ස්ථානය. දිනය වැනි පාර-දත්ත(metadata) ද ඇතුලත් වේ. අපගේ සේවාවන් හරහා ඔබට දැකිය හැකි දේවල්
            පිලිබඳවද තොරතුරු එක්රැස් කරගනු ලැබේ. උදාහරණ ලෙස කැමරාව හරහා ඔබ දකින රූපවලට අදාළව ආවරණ (filters and masks)
            යෝජනා කිරීම, කැමරාව භාවිතය පිළිබඳව උපදෙස් ලබා දීම සිදු කරන්නේ මෙම රැස් කරගන්නා දත්ත සැකසීමෙනි.මෙලෙස ඔබ
            විසින් හුවමාරු කරගන්නා දත්තවල අන්තර්ගතය අපගේ පද්ධති මගින් ස්වයං සැකසීමකට ලක් කර විශ්ලේෂණය කරනු ලැබේ. මෙලෙස
            විශ්ලේෂණය කිරීමට හේතු මෙම ප්&zwj;රකාශනයේ පහතින් දක්වා හැක.</span></strong></li>
    </ul>
    <ul>
      <li><span style="font-weight: 400;">විශේෂයෙන් ආරක්ෂා කල යුතු දත්ත: ඔබට ඔබගේ facebook ගිණුම හරහා ඔබගේ ජීවිතයේ
          වැදගත් අවස්ථා පිළිබඳව, ඔබගේ ආගමික විශ්වාස පිළිබඳව, ඔබගේ දේශපාලන මතවාද පිළිබඳව, ඔබගේ රුචි අරුචිකම් පිළිබඳව හා
          ඔබගේ සෞඛ්&zwj;ය තත්ත්වය පිළීබඳව පවා ඉදිරිපත් කළ හැකිය. මෙවැනි තොරතුරුවල රහස්&zwj;යභාවය ඔබගේ රටේ නීතිවලින් පවා
          ආරක්ෂා කල යුතු බව දක්වා තිබිය හැක.</span></li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <ul>
      <li><strong><strong>සම්බන්ධතා.</strong><span style="font-weight: 400;"> ඔබ සම්බන්ධ වී සිටින පුද්ගලයන්, facebook
            පිටු, ගිණුම්, සමූහ, hashtag සහ ඔබ අපගේ සේවා භාවිත කරමින් එම දේවල් සමග අන්තර් සබඳතා පවත්වන ආකාරය (උදාහරණ ලෙස
            ඔබ වැඩිපුරම සම්බන්ධ වූ සමූහ හා වැඩිපුරම පණිවිඩ හුවමාරු කරගත් පුද්ගලයන් දැක්විය හැක.) පිළිබඳවද තොරතුරු රැස්
            කරගනු ලැබේ. ඔබ දන්නා පුද්ගලයන් ඔබට සොයා දීම වැනි සේවාවන් උදෙසා ඔබගේ උපකරණවල ඇති සබඳතා පිළිබඳ තොරතුරු ද&nbsp;
            අපි විසින් රැස් කරගනියි. (ජංගම දුරකතන නාමාවලිය, ඇමතුම් විස්තර, කෙටි පණිවිඩ විස්තර)</span></strong></li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <ul>
      <li><strong><strong>ඔබගේ භාවිතය.</strong><span style="font-weight: 400;"> ඔබ අපගේ සේවා භාවිත කරන ආකාරය පිළිබඳවද
            තොරතුරු රැස් කරගනු ලැබේ. මේ අතරට ඔබ සම්බන්ධ වන පල කිරීම්වල අන්තර්ගතයන්, ඔබ භාවිත කරන අංගයන් (features), ඔබගේ
            ප්&zwj;රතිචාර දැක්වීම්, ඔබ සම්බන්ධ වන පුද්ගලයන්, ගිණුම් සහ ඔබ අප&zwj;ෙ&zwj;ෙග&zwj;් සේවා භාවිත කරන කාල
            සීමාවන් සහ වාර ගණන් පිළිබඳ තොරතුරු ඇතුලත් වේ. උදාහරණ ලෙස ඔබ අවසානයට භාවිත කල හෝ දැන් භාවිත කරන සේවාවන් සහ එම
            සේවාවන් තුලදී ඔබ සම්බන්ධ වූ පල කිරීම්, වීඩියෝ දර්ශන, සහ අනිකුත් අන්තර්ගතයන් පිළිබඳ තොරතුරු සහ අංගයන් ලෙස
            කැමරාව භාවිතය දැක්වි&zwj;ය හැක.&nbsp;</span></strong></li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <ul>
      <li><strong><strong>අපගේ සේවාවන් සමග සිදු කල මුදල් ගනුදෙනු.</strong><span style="font-weight: 400;"> මිලදී ගැනීම්
            හෝ වෙනත් මූල්&zwj;යමය කටයුතු සඳහා ඔබ අපගේ සේවාවන් සේවාවන් භාවිත කරයි නම් එ්වා පිළිබඳ තොරතුරු අප විසින් රැස්
            කරගනු ලැ&zwj;බේ. (උදාහරණ ලෙස ක්&zwj;රීඩාවන්ට සිදු කල ගෙවීම් හෝ පරිත්&zwj;යාගයන් (donations) දැක්විය හැක.)
            මෙම තොරතුරු අතරට ගෙවීම් පිළිබඳ විස්තර, ණයපත් හෝ හරපත් (credit cards, debit cards) අංකයන්, ගිණුම් විස්තර සහ
            බිල්පත්, සම්බන්ධතා විස්තර ඇතුලත් වේ.</span></strong></li>
    </ul>
    <ul>
      <li><strong>අනිත් පුද්ගලයන්ගේ ක්&zwj;රියාකලාපයන් සහ ඔවුන් ඔබ පිළිබඳව සපයන තොරතුරු. </strong><span
          style="font-weight: 400;">අප අන් පුද්ගලයන් සම්බන්ධයෙන්ද ඉහත කී තොරතුරු රැස් කරගන්නා නිසා ඔවුන් ඔබ සම්බන්ධව
          සිදු කරන පල කිරීම්, ඡායාරූප, අදහස් දැක්වීම් (comments). පණිවිඩ ආදිය පිළිබඳව තොරතුරු රැස් කරගනු ලැබේ.</span>
      </li>
    </ul>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">උපකරණ තොරතුරු</span></p>
    <p><span style="font-weight: 400;">පහත දක්වා ඇති පරිදි අප සේවා සමග සම්බන්ධ වීමට ඔබ විසින් යොදාගනු ලබන පරිගණක, ජංගම
        දුරකතන, රූපවාහිනී සහ වෙනත් උපකරණ පිළිබඳ තොරතුරු රැස් කර ඒවා එකතු කරනු ලැබේ. උදාහරණයක් ලෙස ඔබගේ ජංගම දුරකතනයෙන්
        ඔබ භාවිත කරන සේවාවන්, සහ අංග (වෙළඳ දැන්වීම්ද ඇතුලත්ව) ඔබ වෙනත් උපකරණයකින්ද සම්බන්ධ වූ විට ඒ අයුරින්ම ලබා දීමට
        මෙම තොරතුරු භාවිත වේ.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">මෙම උපකරණයන් මගින් අප ලබාගන්නා තොරතුරු:</span></p>
    <ul>
      <li style="font-weight: 400;"><strong>උපකරණයේ විස්තර:</strong><span style="font-weight: 400;"> මෙහෙයුම් පද්ධතිය,
          දෘඪාංග, සහ මෘදුකාංග සංස්කරණය, බැටරි ආරෝපණය, සංඥා ස්ථාවරභාවය (signal strength), browser වර්ගය, ෆයිල් වර්ග,
          උපකරණයේ ගබඩා විස්තර.</span></li>
      <li style="font-weight: 400;"><strong>උපකරණයේ ක්&zwj;රියාවලි:</strong><span style="font-weight: 400;"> උපකරණයේ
          හැසිරීම් සහ මෘදුකාංගයන් foreground හෝ background ලෙස පවතියිද යන්න හෝ මූසිකය චලනය වන ආකාරය වැනි ක්&zwj;රියාවන්
          පිළිබඳව තොරතුරු.</span></li>
      <li style="font-weight: 400;"><strong>හඳුනාගැනීම්:</strong><span style="font-weight: 400;"> උපකරණ අංක (device ID),
          ක්&zwj;රීඩාවන්, මෘදුකාංග සහ වෙනත් හඳුනාගැනීමේ සාධක,</span></li>
      <li style="font-weight: 400;"><strong>උපකරණ සංඥා:</strong><span style="font-weight: 400;"> Bluetooth, අසල ඇති WiFi
          ජාලයන් සහ දුරකතන කුලුණු</span></li>
      <li style="font-weight: 400;"><strong>ජාල හා සම්බන්ධතා:</strong><span style="font-weight: 400;"> දුරකතන සේවා
          සපයන්නා හෝ අන්තර්ජාල සේවා සපයන්නා, භාෂාව, වේලා කලාපය, ජංගම දුරකතන අංකය, IP ලිපිනය, සම්බන්ධතාවයේ වේගය, සහ සමහර
          අවස්ථාවලදී ජාලයට සම්බන්ධ අනෙකුත් උපකරණ පිළිබඳ &zwj;තොරතුරු ලබාගනියි. මෙම තොරතුරු මගින් දුරකතනය ඔස්සේ නරඹමින්
          සිටින වීඩියෝ දර්ශනයක් රූපවාහිනියට යොමු කිරීම වැනි කාර්යයන් සිදු කල හැක.</span></li>
      <li style="font-weight: 400;"><strong>කුකී දත්ත (Cookie data):</strong><span style="font-weight: 400;"> ඔබගේ
          උපකරණයේ ගබඩා වී ඇති කුකී ගොනු සහ ඒවා සකසා ඇති අයුරු</span></li>
    </ul>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">හවුල්කරුවන්ගෙන් ලැබෙන තොරතුරු</span></p>
    <p><span style="font-weight: 400;">අපගේ facebook business tools, API සහ SDK ඔස්සේ දැන්වීම් ප්&zwj;රචාරකයන්, මෘදුකාංග
        ඉංජිනේරුවන්, සහ ප්&zwj;රකාශකයන් හට තොරතුරු ලබා දිය හැක. මොවුන් විසින් ඔබගේ උපකරණ, ඔබ පිවිසෙන වෙබ් අඩවි, ඔබ මිලදී
        ගන්නා දේවල්, ඔබ නරඹන දැන්වීම්, සහ ඔබ ඔවුන්ගේ සේවා භාවිත කරන ආකාරය වැනි ඔබගේ facebook ගිණුමෙන් පරිබාහිරව ඔබ සිදු
        කරන දේවල් පිළිබඳව අප හට තොරතුරු සපයයි.උදාහරණයක් ලෙස පරිගණක ක්&zwj;රීඩා නිපදවන්නන්ට ඔබ කරන ක්&zwj;රීඩා පිළිබඳව,
        ව්&zwj;යාපාරයක් විසින් ඔබ සිදු කරන මිල දී ගැනීම් පිළිබඳව අපට තොරතුරු ලබා දිය හැක. මීට අමතරව ඔබ අන්තර්ජාලයෙන්
        පිටදී සිදු කරන දේවල් පිළිබඳවද අවසරලත් තුන්වන පාර්ශවයන් විසින් අපට තොරතුරු ලබා දේ.</span></p>
    <p><br /><br /></p>
    <p><span style="font-weight: 400;">අප මෙම තොරතුරු&nbsp; භාවිතා කරන ආකාරය.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">Facebook හා Instagram කොන්දේසි වල විස්තර වෙන පරිදි facebook නිෂ්පාදන හා සම්බන්ද
        සේවා සදහා සහයක් වශයෙන් මෙම තොරතුරු භාවිතා කරන ආකාරය&nbsp; පහත සදහන් පරිදි විස්තර කෙරේ.</span></p>
    <p>&nbsp;</p>
    <p><strong>ඔබට වාඩාත් සමීප හා කාර්&zwj;යක්ශම සේවාවක් ලබා දීම.</strong></p>
    <p><span style="font-weight: 400;">අප ලග ඇති තොරතුරු අපගේ සේවාවන් ලබා දීම සදහා භාවිතා කරයි. තවද පහසුකම් හා අන්තර්ගතය
        වැඩි දියුනු කිරීම ( ඔබගේ පුවත් පෝශකය(news feed), Instagram සංගර්භය, Instagram stories සහ දැන්වීම් ) සහ අපගේ
        නිශ්පාදන තුලින් හො ඉන් පිටත (ඔබ උනන්දුවක් දක්වන කණ්ඩායම් හෝ සිද්ධීන් හෝ ඔබ අනුගමනය කිරිමට කැමති විය හැකි මාතෘකා)
        ඔබ හට යොජන ඉදිරිපත් කිරිමට.අප ඔබගෙ සම්බන්දතා, මනාපයන්,&nbsp; ඔබ උනන්දුවක් දක්වන දේ සහ ඔබේ ක්&zwj;රියාකරකම්
        පිලිබද ඔබගෙන් ලබා ගන්නා දත්ත හා අන්&zwj; අයගෙන් ලබා ගන්නා දත්ත(ඔබ සලසා දි ඇති විශේෂ අරක්ශාවන්ගෙන් යුක්ත දත්තද
        ඇතුලුව);ඔබ අපගේ නිශ්පාදන භාවිතා කරන අකාරය;හෝ ඔබ අපගෙ නිශ්පාදන තුල හෝ ඉන් පිටදි සම්බන්දතා අති හෝ උනන්දුවක් ඇති
        පුද්ගලයින්, ස්තාන හො දේවල්; මත පදනම්ව ඔබ සදහාම හැඩගස්වන ලද අසමසම හා ඔබට අදාල වූ නිශ්පාදන සකසයි.</span></p>
    <p>&nbsp;</p>
    <ul>
      <li style="font-weight: 400;"><span style="font-weight: 400;">Facebook නිශ්පාදන හා උපකරන තුල ඇති විස්තර: ඔබ භාවිතා
          කරන ඕනැම Facebook නිශ්පදනයන්, ඔබ කොතැනක භාවිත කරත් ඔබට ගැලපෙන හා ස්තාවර අත්දැකීමක් ලබා දීම සදහා අප ඔබගෙ විවිධ
          වු Facebook නිශ්පාදන තුල වූ ඔබගේ ක්&zwj;රියාකරකම් පිලිබද විස්තර සම්බන්ද කරනු ලබයි.උදාහරණයක් ලෙස ඔබ Instagram
          තුල අනුගමනය කරන පුද්ගලයින් හො Messenger තුලින් සන්නිවේදනයේ යෙදෙන පුද්ගලයින් සිටින Facebook කන්ඩායමකට ඔබ හට
          එකතු වීමට අප විසින් යොජනා කල හැක. තව දුරටත් ඔබගෙ අත්දැකිම එකාකරී කිරීම සදහා උදාහරනයක් ලෙස ඔබ අපගේ නිශ්පාදනයක
          ගිනුමක් ලියපදින්චි වීමේදී ඔබගේ වෙනත් Facebook නිශ්පාදනයක තොරතුරු භාවිතයෙන් අප විසින් ඔබගේ ලියපදින්චි කිරීමේ
          අයදුම්පත් වල විස්තර (දුරකතන අන්කය වැනි) ස්වයන්ක්&zwj;රියව පිරවීම.</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li style="font-weight: 400;"><span style="font-weight: 400;">නිපැයුම් පර්යේෂණය හා සංවර්ධනය:සමීක්ෂණ හා පර්යේෂණ
          පැවැත්වීම</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">නව නිපැයුම් හා
          විශේෂාංග පර්යේෂණය හා දෝෂ සොයාබැලීම යන ආකාරවලින් ලබාගත්</span><span style="font-weight: 400;">, </span><span
          style="font-weight: 400;">අප සතුව ඇති තොරතුරු අපගේ නිපැයුම් සංවර්ධනය</span><span style="font-weight: 400;">,
        </span><span style="font-weight: 400;">පර්යේෂණය හා වැඩි දියුණු කිරීම සදහා යොදා ගන්නෙමු</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li style="font-weight: 400;"><span style="font-weight: 400;">වෙළඳ දැන්වීම් හා අනුග්&zwj;රාහක අන්තර්ගතයන්: අප ඔබට
          පෙන්වන වෙළඳ දැන්වීම්</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">පිරිනැමීම්
        </span><span style="font-weight: 400;">(offers) </span><span style="font-weight: 400;">හා වෙනත් අනුග්&zwj;රාහක
          අන්තර්ගතයන් තේරීම හා ඔබට ගැලපෙන ලෙස සකස් කිරීම </span><span style="font-weight: 400;">(personalize)
        </span><span style="font-weight: 400;">සඳහා අප සතු ඔබගේ ප්&zwj;රියතාවයන්</span><span style="font-weight: 400;">,
        </span><span style="font-weight: 400;">ක්&zwj;රියාකාරකම් හා සම්බන්ධතාවයන් වැනි ඔබ පිළිබඳ තොරතුරු භාවිත
          කරන්නෙමු</span><span style="font-weight: 400;">.</span><span style="font-weight: 400;">අප වෙළඳ දැන්වීම් තෝරා
          ගන්නා හා ඔබට ගැලපෙන ලෙස සකස් කිරීම </span><span style="font-weight: 400;">(personalize) </span><span
          style="font-weight: 400;">කරන ආකාරය හා වෙළඳ දැන්වීම් හා වෙනත් අනුග්&zwj;රාහක අන්තර්ගතයන් තේරීමට අප යොදාගන්නා
          දත්ත වෙනුවට </span><span style="font-weight: 400;">facebook settings </span><span style="font-weight: 400;">හා
        </span><span style="font-weight: 400;">Instagram settings </span><span style="font-weight: 400;">හි ඔබගේ තෝරා
          ගැනීම් පිළිබඳ වැඩිදුර තොරතුරු ලබාගන්න</span><span style="font-weight: 400;">.</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li style="font-weight: 400;"><span style="font-weight: 400;">ඇගයීම් විශ්ලේෂණයන් හා වෙනත් ව්&zwj;යාපාරික සේවා
          සැපයීම:අපගේ වෙළඳ දැන්වීම් සපයන්නන්ට හා අනෙකුත් පාර්ශවකරුවන්ට ඔවුන්ගේ වෙළඳ දැන්වීම් හා සේවාවන්ගේ ඵලදායීතාවය හා
          බාධාකාරී තත්ත්වයන් ඇගයීමට</span><span style="font-weight: 400;">, </span><span
          style="font-weight: 400;">ඔවුන්ගේ සේවාවන් ලබාගන්නා පුද්ගල කාණ්ඩයන් හඳුනා ගැනීමට හා එම පුද්ගලයන් ඔවුන්ගේ වෙබ්
          අඩවි</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">අන්තර්ජාල යෙදවුම් හා සේවා
          සමග ගනුදෙනු කරන </span><span style="font-weight: 400;">(</span><span style="font-weight: 400;">අන්තර්
          සම්බන්ධතා පවත්වන</span><span style="font-weight: 400;">) </span><span style="font-weight: 400;">ආකාරය පිළිබඳව
          අවබෝධයක් ලබා ගැනීමට ඔවුන්ට සහයෝගය ලබා දීම සඳහා අප සතු ඔබ පිවිසෙන වෙබ් අඩවි</span><span
          style="font-weight: 400;">, </span><span style="font-weight: 400;">ඔබ දකින වෙළඳ දැන්වීම් වැනි අපගේ නිපැයුම්
          කෙරෙහි ඔබගේ ක්&zwj;රියාකාරිත්වය පිළිබඳව තොරතුරු භාවිත කරන්නෙමු</span><span style="font-weight: 400;">.</span>
      </li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li style="font-weight: 400;"><span style="font-weight: 400;">මුහුණ හඳුනාගැනීම</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li style="font-weight: 400;"><span style="font-weight: 400;">ඔබ විසින් මෙම පහසුකම ක්&zwj;රියාත්මක කර ඇත්නම්
          ඡායාරූප</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">වීඩියෝපට හා
        </span><span style="font-weight: 400;">camera experience </span><span style="font-weight: 400;">හි ඔබව
          හඳුනාගැනීමට අපි හඳුනාගැනීමේ තාක්ෂණය යොදා ගන්නෙමු</span><span style="font-weight: 400;">. </span><span
          style="font-weight: 400;">මුහුණු හඳුනාගැනීම සඳහා අප විසින් නිර්මාණය කර ඇති </span><span
          style="font-weight: 400;">templates EU </span><span style="font-weight: 400;">නීතිය යටතේ විශේෂ ආරක්ෂණයක් සහිත
          දත්ත වේ</span><span style="font-weight: 400;">. </span><span style="font-weight: 400;">අප මුහුණු හඳුනා ගැනීමේ
          තාක්ෂණය යොදා ගන්නා ආකාරය හෝ </span><span style="font-weight: 400;">facebook settings </span><span
          style="font-weight: 400;">හරහා අපගේ මෙම තාක්ෂණය භාවිතය පාලනය කිරීම පිළිබඳ වැඩිදුර තොරතුරු ලබා ගන්න</span><span
          style="font-weight: 400;">. </span><span style="font-weight: 400;">අප මුහුණු හඳුනාගැනීමේ තාක්ෂණය ඔබගේ
        </span><span style="font-weight: 400;">Instagram </span><span style="font-weight: 400;">අත්දැකීමට හඳුන්වා දෙන්නේ
          නම් ප්&zwj;රථමයෙන්ම ඔබව දැනුවත් කරන්නෙමු</span><span style="font-weight: 400;">. </span><span
          style="font-weight: 400;">අප එම තාක්ෂණය ඔබ වෙනුවෙන් භාවිත කරන්නෙහිද යන්නෙහි පාලනය ඔබ සතුය</span><span
          style="font-weight: 400;">.</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li style="font-weight: 400;"><span style="font-weight: 400;">ස්ථානය සම්බන්ධ &zwj;තොරතුරු</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li style="font-weight: 400;"><span style="font-weight: 400;">ඔබ හා අන්&zwj;යයන් වෙනුවෙන් අපගේ නිපැයුම්
          සැපයීම</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">ඔබට ගැලපෙන ලෙස සකස්
          කිරීම </span><span style="font-weight: 400;">(personalize) </span><span style="font-weight: 400;">හා වැඩි
          දියුණු කිරීම සඳහා අපි ඔබ මේ මොහොතේ රැඳී සිටින ස්ථානය</span><span style="font-weight: 400;">, </span><span
          style="font-weight: 400;">ඔබ වාසය කරන ස්ථානය</span><span style="font-weight: 400;">, </span><span
          style="font-weight: 400;">ඔබ යෑමට ප්&zwj;රිය කරන ස්ථාන හා ඔබ අවට ඇති ව්&zwj;යාපාර හා පුද්ගලයින් වැනි ස්ථානය හා
          සබැඳි තොරතුරු භාවිතා කරන්නෙමු</span><span style="font-weight: 400;">. </span><span
          style="font-weight: 400;">උපාංගය නිවැරදිව ස්ථානගත වී ඇති ස්ථානය </span><span
          style="font-weight: 400;">(precise device location) (</span><span style="font-weight: 400;">ඔබ එම දත්ත
          ලබාගැනීමට ඉඩ දෙන්නේනම් පමණක්</span><span style="font-weight: 400;">), IP </span><span
          style="font-weight: 400;">ලිපිනයන්</span><span style="font-weight: 400;">, </span><span
          style="font-weight: 400;">ඔබගේ හා අන්&zwj;යයන්ගේ </span><span style="font-weight: 400;">facebook </span><span
          style="font-weight: 400;">නිපැයුම් භාවිතය හරහා ලැබෙන තොරතුරු </span><span
          style="font-weight: 400;">(check-ins, </span><span style="font-weight: 400;">ඔබ සහභාගී වූ අවස්ථාවන්
          වැනි</span><span style="font-weight: 400;">) </span><span style="font-weight: 400;">මත ස්ථානය හා සබැඳි තොරතුරු
          පදනම් විය හැක</span><span style="font-weight: 400;">.</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li style="font-weight: 400;"><span style="font-weight: 400;">සමාජ සුබසාධනය උදෙසා පර්යේෂණ හා නවෝත්පාදන
          කිරීම</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li style="font-weight: 400;"><span style="font-weight: 400;">පොදු සමාජ සුබසාධනය</span><span
          style="font-weight: 400;">, </span><span style="font-weight: 400;">තාක්ෂණික ප්&zwj;රගමනය</span><span
          style="font-weight: 400;">, </span><span style="font-weight: 400;">පොදු යහපත</span><span
          style="font-weight: 400;">, </span><span style="font-weight: 400;">සෞඛ්&zwj;ය හා යහපැවැත්ම වැනි මාතෘකා
          කරණකොටගෙන පර්යේෂණ හා නවෝත්පාදන සිදුකිරීමට හා ඒ සඳහා සහය දැක්වීමට අප සතු තොරතුරු </span><span
          style="font-weight: 400;">(</span><span style="font-weight: 400;">අප සමග අත්වැල් බැඳ සිටින පර්යේෂණ
          සහකරුවන්ගෙන් ලබාගත් තොරතුරුද ඇතුළුව</span><span style="font-weight: 400;">) </span><span
          style="font-weight: 400;">යොදා ගන්නෙමු</span><span style="font-weight: 400;">.</span></li>
      <li style="font-weight: 400;"><span style="font-weight: 400;">උදාහරණයක් ලෙස සහනාධාර කටයුතු සඳහා සහය දැක්වීමක් ලෙස
          අප අර්බුදකාරී තත්ත්වයන්හිදී සංක්&zwj;රමණික රටාවන් පිළිබඳ තොරතුරු විශ්ලේෂණය කරන්නෙමු</span><span
          style="font-weight: 400;">. </span><span style="font-weight: 400;">අපගේ පර්යේෂණ වැඩසටහන් පිළිබඳ වැඩිදුර
          තොරතුරු ලබා ගන්න</span><span style="font-weight: 400;">.</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li style="font-weight: 400;"><span style="font-weight: 400;">ඔබ සමග සන්නිවේදනය කිරීම්</span></li>
    </ul>
    <p>&nbsp;</p>
    <ul>
      <li style="font-weight: 400;"><span style="font-weight: 400;">ඔබට අලෙවිකරණ තොරතුරු ලබාදීමට</span><span
          style="font-weight: 400;">, </span><span style="font-weight: 400;">අපගේ නිපැයුම් පිළිබඳව ඔබට සන්නිවේදනය කිරීමට
          හා අපගේ කොන්දේසි හා ක්&zwj;රියා පටිපාටින් පිළිබඳව ඔබව දැනුවත් කිරීමට අප සතු තොරතුරු භාවිත කරන්නෙමු</span><span
          style="font-weight: 400;">. </span><span style="font-weight: 400;">එමෙන්ම ඔබ අපව සම්බන්ධ කර ගන්නා අවස්ථාවලදී
          ඔබට ප්&zwj;රතිචාර දැක්වීමටද අපි ඔබගේ තොරතුරු භාවිත කරන්නෙමු</span><span style="font-weight: 400;">.</span>
      </li>
      <li style="font-weight: 400;"></li>
      <li style="font-weight: 400;"></li>
    </ul>
    <p>&nbsp;</p>
    <p><strong>මෙම තොරතුරු බෙදාහදා ගන්නේ කෙසේද?</strong></p>
    <p>&nbsp;</p>
    <p><strong>&nbsp;ඔබගේ තොරතුරු අනෙක් අය සමඟ පහත ආකාරයට බෙදාගනු ලැබේ:</strong></p>
    <p>&nbsp;</p>
    <p><strong>ෆේස්බුක් නිෂ්පාදන බෙදාහදා ගැනීම</strong></p>
    <p><strong>&nbsp;</strong></p>
    <p><strong>ඔබ බෙදා හදා ගන්නා හා සන්නිවේදනය කරන පුද්ගලයින් හා ගිණුම්&nbsp;</strong></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><span style="font-weight: 400;">ඔබ අපගේ නිෂ්පාදන භාවිතා කරමින් සන්නිවෙදනය හා හුවමාරු කරගන්නා විට</span><span
        style="font-weight: 400;">, </span><span style="font-weight: 400;">ඔබ බෙදාහදා ගන්නා දෙය සඳහා සබය ඔබ විසින් තෝරා
        ගනු ලැබේ . නිදසුනක් ලෙස</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">ඔබ
        ෆේස්බුක් වෙබ් අඩවියේ පළ කළ විට</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">ඔබ
        කණ්ඩායමක්</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">ඔබේ සියලු
        මිතුරන්</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">මහජනතාව</span><span
        style="font-weight: 400;">, </span><span style="font-weight: 400;">හෝ පුද්ගලයෙකුගේ අභිමත ලැයිස්තුවක් සඳහා
        පෝස්ටරය දැක්විමට ඔබ විසින් තොරා ගත හකිය . ඒ හා සමානව</span><span style="font-weight: 400;">, </span><span
        style="font-weight: 400;">ඔබ </span><span style="font-weight: 400;">Messenger </span><span
        style="font-weight: 400;">හෝ </span><span style="font-weight: 400;">Instagram</span><span
        style="font-weight: 400;"> පුද්ගලයන් හෝ ව්&zwj;යාපාර සමඟ සන්නිවේදනය කිරීමට භාවිතා කරන විට</span><span
        style="font-weight: 400;">, </span><span style="font-weight: 400;">එම පුද්ගලයින්ට සහ ව්&zwj;යාපාරවලට ඔබ යවන
        අන්තර්ගතයන් දැකිය හැකිය. වෙළඳ දැන්වීම් සහ අනුග්රාහක අන්තර්ගතයන් සමඟ සම්බන්ධවීම වැනි අපගේ නිෂ්පාදන සඳහා ඔබ විසින්
        ගනු ලැබූ ක්&zwj;රියාවන් ඔබේ ජාලයට ද දැකිය හැක. ඔවුන්ගේ </span><span
        style="font-weight: 400;">Facebook</span><span style="font-weight: 400;"> හෝ </span><span
        style="font-weight: 400;">Instagram</span><span style="font-weight: 400;"> ස්ටෝරිස් නරඹා ඇති අය වෙනත් ගිනුම් වල
        අයට දැකිමට ඉඩ ලබාදේ.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">පොදු තොරතුරු අපගේ නිශ්පාදන භාවිතා කරන හෝ නොකරන ගිනුමක් රහිත ඕනෑම අයකු විසින්
        නැරබිය හැකිය. ඔබගේ Instagram පරිශීලක නාමය; ඔබ පොදු සබයක් සමඟ බෙදාගන්නා තොරතුරු; Facebook හි ඔබේ පොදු පැතිකඩෙහි
        තොරතුරු; Facebook පිටුවක්, මහජන Instagram ගිණුමක් හෝ Facebook වෙළඳසැලක වැනි වෙනත් පොදු සංවාදයක අන්තර්ගතය මේසේ
        පොදු තොරතුරු වලට ඇතුලත් වේ. ඔබ, Facebook සහ Instagram භාවිතා කරන වෙනත් අය සහ අප විසින් වෙනත් Facebook සමාගම්
        නිෂ්පාදන, සෙවුම් ප්රතිඵලවල, අනෙකුත් මෙවලම් සහ API හරහා සහ අපගේ නිෂ්පාදන මත හෝ නැතිව පොදු තොරතුරුවලට ප්රවේශය ලබා
        දිය හැකිය. සෙවුම් එන්ජින්, APIs, රූපවාහිනිය වැනි නොබැඳි මාධ්&zwj;ය සහ අපේ නිෂ්පාදන සමඟ ඒකාබද්ධ වන යෙදුම්, වෙබ්
        අඩවි සහ වෙනත් සේවාවන් වැනි තෙවන පාර්ශවයන් හරහා පොදු තොරතුරු දැකිම, ප්&zwj;රවේශ විම, නැවත බෙදාහරීම සහ බාගත කිරීම
        කල හැක.</span></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><span style="font-weight: 400;">Facebook සහ Instagram හි පොදු තොරතුරු ලෙස සලකෙන දත්ත හා ඔබේ තොටරතුරු කොපමනක් අන්
        අයට දෘශ්&zwj;ය වීම මපලනය පිලිබදව තවත් දනුවත් වන්න.&nbsp;</span></p>
    <p>&nbsp;</p>
    <p><strong>අනිත් අය ඔබ ගැන බෙදාහරින හෝ නැවත බෙදාහරින අන්තර්ගතය</strong></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><span style="font-weight: 400;">ඔබ බෙදාහදා ගැනීමට කැමති අය කවුරුන්දැයි ඔබ සැලකිලිමත් විය යුතුය. මන්ද</span><span
        style="font-weight: 400;">, </span><span style="font-weight: 400;">අපගේ නිෂ්පාදන පිළිබඳ ඔබේ ක්&zwj;රියාකාරකම්
        දැක ගැනීමට හැකි අය</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">ඔබ සමඟ බෙදාගත්
        සබයට පිටත සිටින පුද්ගලයින් සහ ව්යාපාර ඇතුළුව අපේ නිෂ්පාදන සහ වෙනත් නිෂ්පාදන වලින් පිටත අන් අය සමඟ බෙදා ගැනීමට
        තීරණය කළ හැකිය. උදාහරණයක් ලෙස ඔබ යම් පෝස්ටයක් හෝ විශේෂිත මිතුරන් හෝ ගිණුම් වලට පණිවිඩයක් යැවූ විට</span><span
        style="font-weight: 400;">, </span><span style="font-weight: 400;">ඒවාට බාහිරින් බාගැනීමට</span><span
        style="font-weight: 400;">, </span><span style="font-weight: 400;">පින්තූර බාගැනීමට සහ මෙම අන්තර්ගතය අපගේ
        නිෂ්පාදන හරහා ඔවුන් විසින් හෝ ෆේස්බුක් </span><span style="font-weight: 400;">Spaces </span><span
        style="font-weight: 400;">වැනි අත්දැකීම් හරහා නැවත බෙදාහරිය හැකිය. එසේම</span><span style="font-weight: 400;">,
      </span><span style="font-weight: 400;">ඔබ වෙනත් කෙනෙකුගේ පෝස්ටයක් ගැන අදහස් දක්වන විට හෝ ඔවුන්ගේ අන්තර්ගතයට
        ප්&zwj;රතිචාර දක්වන විට</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">අනෙක්
        පුද්ගලයාගේ අන්තර්ගතය දැක ගත හැකි ඕනෑම කෙනෙකුට ඔබේ ප්&zwj;රතිචාරය හෝ ප්&zwj;රතික්&zwj;රියාව පෙනෙන අතර පසුව එම
        පුද්ගලයාට ප්&zwj;රේක්ෂකයන් වෙනස් කළ හැකිය.</span></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><span style="font-weight: 400;">පුද්ගලයින් විසින් ඔවුන් තෝරාගන්නා ප්&zwj;රේක්ෂකයන් සමඟ ඔබ ගැන අන්තර්ගතයන්
        නිර්මාණය කිරීම හා බෙදාගැනීම සඳහා අපගේ නිෂ්පාදන භාවිතා කළ හැකිය. නිදසුනක් වශයෙන්</span><span
        style="font-weight: 400;">, </span><span style="font-weight: 400;">ඔබ සිටින ඡායාරූපයක් ඔවුන්ගේ ස්ටෝරියක් හරහා
        බෙදාහදාගත හැකිය</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">පෝස්ටයක පිහිටීමේ
        ස්ථානයක් හෝ ඔබ ඔවුන්ගේ පෝස්ට් වල ඔනබව ටැග් කිරීම හෝ පණිවුඩ තුළ ඔබ පිලිබන්ද තොරතුරු හුවමාරු කිරීම හෝ සටහන් කිරීම.
        අපගේ නිෂ්පාදන යොදා ගනිමින් ඔබ ගැන අන් අය විසින් බෙදා හදා ඇති දෙයින් ඔබට අපහසුතාවයක් තිබේ නම්</span><span
        style="font-weight: 400;">, </span><span style="font-weight: 400;">අන්තර්ගතය වාර්තා කරන්නේ කෙසේදැයි ඉගෙන ගත
        හැකිය.</span></p>
    <p><br /><br /><br /><br /></p>
    <p><strong>අපගේ නිෂ්පාදනවල ඔභගේ ක්&zwj;රියාකාරිත්වය හෝ පැමිණීම පිළිබඳ තොරතුරු.</strong></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><span style="font-weight: 400;">ඔභගේ ජාලයේ සිටින පුද්ගලයින් හට ඔබ අපගේ නිශ්පාදන තුල ක්&zwj;රියාකාරීද යන්න
        පිලිබන්ද සංඥා</span> <span style="font-weight: 400;">ලැබේ, මේ අතර ඔබ </span><span
        style="font-weight: 400;">Instagram, Messenger </span><span style="font-weight: 400;">හෝ </span><span
        style="font-weight: 400;">Facebook </span><span style="font-weight: 400;">තුල ක්&zwj;රියකාරීද හා ඔබ අවසන් වරට
        මෙම නිශ්පාදන භවිතා කල වකවානුව පිලිබද සංඥාවන් අතුලත් වේ.</span></p>
    <p>&nbsp;</p>
    <p><strong>අපගේ නිෂ්පාදන තුල පවතින හෝ ඒවා භාවිතා කරන ඇප්ස්, වෙබ් අඩවි සහ තුන්වන පාර්ශව ඒකාබද්ධ කිරීම්.</strong></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><span style="font-weight: 400;">ඔබ තෙවන පාර්ශවීය යෙදුම්, වෙබ් අඩවි හෝ අපගේ නිෂ්පාදන සමඟ සම්බන්ධ වී ඇති වෙනත්
        සේවාවන් භාවිතා කිරීමට ඔබ තෝරා ගන්නා විට, ඔබ විසින් පෝස්ට හෝ බෙදාහදා ගන්නා දේ ගැන තොරතුරු ඒවාට&nbsp; ලබා ගත
        හැකිය. උදාහරණයක් ලෙස, ඔබ ඔබේ ෆේස්බුක් මිතුරන් සමඟ සෙල්ලමක් කළ විට හෝ වෙබ් අඩවියක ෆේස්බුක් කමෙන්ට් එකක් හෝ
        බෙදාගන්න බොත්තමක් භාවිතා කරන විට, ක්රීඩාවේ සංවර්ධකයින්ගේ හෝ වෙබ් අඩවියෙන් ඔබගේ ක්රියාවන් ගැන තොරතුරු ලබා ගත
        හැකිය එසේම වෙබ් අඩවියෙන් ඔබ ෆේස්බුක්වල බෙදා ගන්නා ලද අදහස් හෝ සබැඳියක් පිලිබන්ද තොරතුරුද ලබා ගත හකිය. එසේම, ඔබ
        එවැනි තුන්වන පාර්ශව සේවාවන් බාගත කර හෝ භාවිතා කරන විට, ඔවුන් ෆේස්බුක් මත ඔබේ පොදු පැතිකඩ වෙත පිවිසිය හැකි අතර
        ඔවුන් සමග බෙදාහදා ගන්නා ඕනෑම තොරතුරක් ඔවුන් වෙත ලබා ගත හැකිය. ඔබ භාවිතා කරන යෙදුම් සහ වෙබ් අඩවි ඔබ ඔවුන් සමඟ
        හුවමාරු කිරීමට තෝරා ගන්නේ නම් ෆේස්බුක් යහළුවන්ගේ ලැයිස්තුව ඔවුනට ලැබෙනු ඇත. නමුත් ඔබ භාවිතා කරන යෙදුම් සහ වෙබ්
        අඩවි හට ඔබේ ෆේස්බුක් මිතුරන් පිලිම්බන්ද වෙනත් තොරතුරු&nbsp; ඔබගෙන් ලබා ගැනීමට හෝ ඔබේ ඉන්ස්ටග්රෑම් අනුගාමිකයන්
        පිළිබඳ තොරතුරු ඔබගෙන් ලබගනීමට හෝ නොහැකිය (ඔබේ මිතුරන් සහ අනුගාමිකයින් මගින්, මෙම තොරතුරු හුවමාරු කර ගත හැකි
        වුවත්, තෝරා ගත හැකිය). මෙම තුන්වන පාර්ශවීය සේවාවන් විසින් රැස් කරන ලද තොරතුරු ඔවුන්ගේම නියමයන් සහ ප්රතිපත්ති වලට
        යටත් වන අතර මෙම ප්&zwj;ර්තිපත්තියට යටත් නොවේ.</span></p>
    <p><br /><br /><br /></p>
    <p><span style="font-weight: 400;">ෆේස්බුක් සහ ඉන්ස්ටග්&zwj;රෑම්හි ස්වදේශීය අනුවාදයන් සපයන උපාංග සහ මෙහෙයුම් පද්ධති
        (එනම් අපි අපේම පළමු පාර්ශවීය යෙදුම් සංවර්ධනය කර නොමැති තැනක) ඔබේ මිතුරන් ඔබ සමඟ බෙදාගන්නා තොරතුරු ඇතුළුව ඔබ
        ඔවුන් සමඟ බෙදා ගැනීමට තෝරා ගන්නා සියලු තොරතුරු වලට ප්&zwj;රවේශය ඔවුනට ඇත</span><span style="font-weight: 400;">,
      </span><span style="font-weight: 400;">එවිට ඔවුන්ට අපගේ මූලික ක්&zwj;රියාකාරිත්වය ඔබට සැපයිය හැකිය.</span></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><span style="font-weight: 400;">සටහන: අපයෝජනය වැළැක්වීම සඳහා සංවර්ධකයින්ගේ දත්ත ප්&zwj;රවේශය තව දුරටත් සීමා
        කිරීමේ ක්&zwj;රියාවලියක අපි සිටිමු. උදාහරණයක් ලෙස</span><span style="font-weight: 400;">, </span><span
        style="font-weight: 400;">ඔබ මාස </span><span style="font-weight: 400;">3</span><span style="font-weight: 400;">
        ක් තුළ සංවර්ධකයින්ගේ යෙදුම භාවිතා නොකළේ නම් අපි ඔබේ ෆේස්බුක් සහ ඉන්ස්ටග්&zwj;රෑම් දත්ත වලට ප්&zwj;රවේශ වීම ඉවත්
        කරන්නෙමු</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">අපි පිවිසුම වෙනස්
        කරන්නෙමු</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">එවිට ඊළඟ
        අනුවාදයේදී</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">යෙදුමකට ඉල්ලිය හැකි
        දත්ත අපි අඩු කරන්නෙමු යෙදුම් සමාලෝචනයක් නොමැතිව විට නම</span><span style="font-weight: 400;">, </span><span
        style="font-weight: 400;">ඉන්ස්ටග්&zwj;රෑම් පරිශීලක නාමය සහ ජෛව</span><span style="font-weight: 400;">,
      </span><span style="font-weight: 400;">පැතිකඩ ඡායාරූප සහ විද්&zwj;යුත් තැපැල් ලිපිනය පමණක් ලබාගත හැකි දත්ත වලට
        ඇතුළත්වේ. වෙනත් දත්ත ඉල්ලීම සඳහා අපගේ අනුමැතිය අවශ්&zwj;ය වේ.</span></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><strong>නව හිමිකරු.</strong></p>
    <p><span style="font-weight: 400;">අපගේ නිෂ්පාදනවල හෝ ඒවායේ වත්කම්වල හෝ ඒවායේ වත්කම්වල අයිතිය හෝ පාලනය වෙනස්
        වුවහොත්</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">අපි ඔබේ තොරතුරු නව
        හිමිකරුට මාරු කරන්නෙමු.</span></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><strong>තෙවන පාර්ශවීය හවුල්කරුවන් සමඟ බෙදා ගැනීම</strong></p>
    <p><span style="font-weight: 400;">අපගේ නිෂ්පාදන සැපයීමට සහ වැඩිදියුණු කිරීමට හෝ ඔවුන්ගේ ව්&zwj;යාපාර වර්ධනය කිරීම
        සඳහා ෆේස්බුක් ව්&zwj;යාපාරික මෙවලම් භාවිතා කරන තෙවන පාර්ශවීය හවුල්කරුවන් සමඟ අපි වැඩ කරන්නෙමු</span><span
        style="font-weight: 400;">, </span><span style="font-weight: 400;">එමඟින් අපගේ සමාගම් ක්&zwj;රියාත්මක කිරීමට සහ
        ලොව පුරා සිටින පුද්ගලයින්ට නොමිලේ සේවාවන් සැපයීමට හැකි වේ. අපි ඔබේ තොරතුරු කිසිවෙකුට විකුණන්නේ නැත</span><span
        style="font-weight: 400;">, </span><span style="font-weight: 400;">අපි කිසි විටෙකත් එසේ නොකරන්නෙමු. අපගේ
        හවුල්කරුවන්ට අප සපයන දත්ත භාවිතා කළ හැකි ආකාරය සහ අනාවරණය කළ හැකි ආකාරය පිළිබඳව ද අපි දැඩි සීමාවන් පනවමු. අපි
        තොරතුරු බෙදාගන්නා තෙවන පාර්ශවයන්</span><span style="font-weight: 400;">&nbsp; </span><span
        style="font-weight: 400;">වර්ග පහත දක්වා ඇත:</span></p>
    <p>&nbsp;</p>
    <p><strong>අපගේ විශ්ලේෂණ සේවා භාවිතා කරන හවුල්කරුවන්.</strong></p>
    <p><span style="font-weight: 400;">ෆේස්බුක් නිෂ්පාදන මත සහ ඉන් පිටත පුද්ගලයින් ඔවුන්ගේ සටහන්</span><span
        style="font-weight: 400;">, </span><span style="font-weight: 400;">ලැයිස්තුගත කිරීම්</span><span
        style="font-weight: 400;">, </span><span style="font-weight: 400;">පිටු</span><span style="font-weight: 400;">,
      </span><span style="font-weight: 400;">වීඩියෝ සහ වෙනත් අන්තර්ගතයන් සමඟ සම්බන්ධ වන්නේ කෙසේද යන්න තේරුම් ගැනීමට
        මිනිසුන්ට සහ ව්&zwj;යාපාරයන්ට උපකාර වන සමස්ත සංඛ්&zwj;යාලේඛන සහ තීක්ෂ්ණ බුද්ධිය අපි ලබා දෙන්නෙමු. නිදසුනක්
        ලෙස</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">පිටු පරිපාලකවරුන්ට සහ
        ඉන්ස්ටග්&zwj;රෑම් ව්&zwj;යාපාර පැතිකඩවලට ඔවුන්ගේ සටහන් බැලූ</span><span style="font-weight: 400;">, </span><span
        style="font-weight: 400;">ප්&zwj;රතිචාර දැක්වූ හෝ අදහස් දැක්වූ පුද්ගලයින්ගේ සංඛ්&zwj;යාව පිළිබඳ තොරතුරු මෙන්ම
        ඔවුන්ගේ පිටුව හෝ ගිණුම සමඟ අන්තර්ක්&zwj;රියා තේරුම් ගැනීමට උපකාරී වන සමස්ත ජන විකාශන සහ වෙනත් තොරතුරු
        ලැබේ.</span></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><span style="font-weight: 400;">&nbsp;</span><strong>අපගේ විශ්ලේෂණ සේවා භාවිතා කරන හවුල්කරුවන්.</strong></p>
    <p><span style="font-weight: 400;">ෆේස්බුක් නිෂ්පාදන මත සහ ඉන් පිටත පුද්ගලයින් ඔවුන්ගේ සටහන්</span><span
        style="font-weight: 400;">, </span><span style="font-weight: 400;">ලැයිස්තුගත කිරීම්</span><span
        style="font-weight: 400;">, </span><span style="font-weight: 400;">පිටු</span><span style="font-weight: 400;">,
      </span><span style="font-weight: 400;">වීඩියෝ සහ වෙනත් අන්තර්ගතයන් සමඟ සම්බන්ධ වන්නේ කෙසේද යන්න තේරුම් ගැනීමට
        මිනිසුන්ට සහ ව්&zwj;යාපාරයන්ට උපකාර වන සමස්ත සංඛ්&zwj;යාලේඛන සහ තීක්ෂ්ණ බුද්ධිය අපි ලබා දෙන්නෙමු. නිදසුනක්
        ලෙස</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">පිටු පරිපාලකවරුන්ට සහ
        ඉන්ස්ටග්&zwj;රෑම් ව්&zwj;යාපාර පැතිකඩවලට ඔවුන්ගේ සටහන් බැලූ</span><span style="font-weight: 400;">, </span><span
        style="font-weight: 400;">ප්&zwj;රතිචාර දැක්වූ හෝ අදහස් දැක්වූ පුද්ගලයින්ගේ සංඛ්&zwj;යාව පිළිබඳ තොරතුරු මෙන්ම
        ඔවුන්ගේ පිටුව හෝ ගිණුම සමඟ අන්තර්ක්&zwj;රියා තේරුම් ගැනීමට උපකාරී වන සමස්ත ජන විකාශන සහ වෙනත් තොරතුරු
        ලැබේ.</span></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><span style="font-weight: 400;">&nbsp;</span><strong>දැන්වීම්කරුවන්.</strong></p>
    <p><span style="font-weight: 400;">අපි දැන්වීම්කරුවන්ට ඔවුන්ගේ දැන්වීම් දකින පුද්ගලයින් සහ ඔවුන්ගේ දැන්වීම්
        ක්&zwj;රියාත්මක වන ආකාරය පිළිබඳ වාර්තා සපයන්නෙමු, නමුත් අපි ඔබව පුද්ගලිකව හඳුනා ගන්නා තොරතුරු ඔබ අපට අවසර දෙන්නේ
        නැත්නම් බෙදා නොගනිමු (ඔබේ නම හෝ විද්&zwj;යුත් තැපැල් ලිපිනය වැනි තොරතුරු ඔබව සම්බන්ධ කර ගැනීමට හෝ භාවිතා කළ හැකි
        තොරතුරු.) නිදසුනක් වශයෙන්, අපි දැන්වීම්කරුවන්ට ඔවුන්ගේ ප්&zwj;රේක්ෂකයින් වඩාත් හොඳින් තේරුම් ගැනීමට ඔවුන්ට උපකාර
        කිරීම සදහා සාමාන්&zwj;ය ජන විකාශන හා උනන්දුවක් දක්වන දේ පිලිබද තොරතුරු සපයන්නෙමු (නිදසුනක් වශයෙන්, මැඩ්රිඩ් හි
        වෙසෙන සහ මෘදුකාංග ඉංජිනේරුකරණයට කැමති වයස අවුරුදු 25 ත් 34 ත් අතර කාන්තාවක් විසින් දැන්වීමක් දුටු බව). මිලදී
        ගැනීමක් කිරීමට හෝ දැන්වීම්කරුවෙකු සමඟ ක්&zwj;රියාමාර්ගයක් ගැනීමට ඔබව පෙලඹවූ ෆේස්බුක් දැන්වීම් මොනවාදැයි අපි
        ඔවුනට තහවුරු කරමු.</span></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><strong>මිනුම් හවුල්කරුවන්.</strong></p>
    <p><span style="font-weight: 400;">අපගේ හවුල්කරුවන්ට විශ්ලේෂණ සහ මිනුම් වාර්තා සැපයීම සඳහා අපි ඔබ පිළිබඳ තොරතුරු
        සමස්ථ සමාගම් සමඟ බෙදා ගනිමු.</span></p>
    <p><br /><br /><br /><br /></p>
    <p><strong>විකුණුම්කරුවන් සහ සේවා සපයන්නන්.</strong></p>
    <p><span style="font-weight: 400;">තාක්ෂණික යටිතල පහසුකම් සේවා සැපයීම, අපගේ නිෂ්පාදන භාවිතා කරන ආකාරය විශ්ලේෂණය
        කිරීම, පාරිභෝගික සේවය සැපයීම, ගෙවීම් සඳහා පහසුකම් සැපයීම හෝ සමීක්ෂණ පැවැත්වීම වැනි ආකාරයන්ගෙන් අපගේ
        ව්&zwj;යාපාරයට සහාය වන වෙළෙන්දන්ට සහ සේවා සපයන්නන්ට අපි තොරතුරු සහ අන්තර්ගතයන් සපයන්නෙමු.</span></p>
    <p>&nbsp;</p>
    <p><strong>පර්යේෂකයන් සහ විද්වතුන්.</strong></p>
    <p><span style="font-weight: 400;">අපගේ ව්&zwj;යාපාරයට හෝ මෙහෙවරට සහාය වන ශිෂ්&zwj;යත්ව හා නවෝත්පාදනයන් වැඩිදියුණු
        කරන පර්යේෂණ සිදු කිරීම මගින් සාමාන්&zwj;ය සමාජ සුභසාධනය, තාක්&zwj;ෂණික දියුණුව, මහජන උනන්දුව, සෞඛ්&zwj;යය සහ
        යහපැවැත්ම යන මාතෘකා පිළිබඳ සොයා ගැනීම් සහ නව්&zwj;යකරණයන් වැඩි දියුණු කිරීම සදහ අවශය තොරතුරු සහ අන්තර්ගතයන්
        පර්යේෂණ හවුල්කරුවන්ට සහ විද්වතුන්ට ලබා දෙනු ලැබේ.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&nbsp;</span><strong>නීතිය බලාත්මක කිරීම හෝ නීතිමය ඉල්ලීම්.</strong></p>
    <p><span style="font-weight: 400;">අපි නීතිය ක්&zwj;රියාත්මක කරන්නන් සමඟ හෝ පහත දක්වා ඇති තත්වයන් යටතේ නීතිමය
        ඉල්ලීම්වලට ප්&zwj;රතිචාර වශයෙන් තොරතුරු බෙදා ගනිමු.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">ෆේස්බුක් සැකසීම් සහ ඉන්ස්ටග්&zwj;රෑම් සැකසීම් වල ඔබ හෝ වෙනත් අය තෙවන පාර්ශවීය
        හවුල්කරුවන් සමඟ බෙදාගන්නා ඔබ පිළිබඳ තොරතුරු පාලනය කරන්නේ කෙසේද යන්න ගැන තව දැනගන්න.</span></p>
    <p>&nbsp;</p>
    <p><strong>ෆේස්බුක් සමාගම් එකට වැඩ කරන්නේ කෙසේද?</strong></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">ඔබ භාවිතා කරන සියලුම ෆේස්බුක් සමාගම් නිෂ්පාදන හරහා නව්&zwj;ය, අදාළ, ස්ථාවර සහ
        ආරක්ෂිත අත්දැකීමක් ලබා දීම සඳහා ෆේස්බුක් සහ ඉන්ස්ටග්&zwj;රෑම් අනෙකුත් ෆේස්බුක් සමාගම් සමඟ (වට්ස්ඇප් සහ අක්ෂි
        ඇතුළත්) යටිතල පහසුකම්, පද්ධති සහ තාක්ෂණය බෙදා ගනී. අදාළ අරමුණු සඳහා සහ ඔවුන්ගේ නියමයන් හා ප්&zwj;රතිපත්ති වලට
        අනුකූලව මෙම අරමුණු සඳහා අපි ඔබ ගැන ෆේස්බුක් සමාගම් හරහා තොරතුරු සකස් කරමු. උදාහරණයක් ලෙස, අපි වට්ස්ඇප් වෙතින්
        එහි සේවාවන්ට අයාචිත තැපැල් යැවීම පිළිබඳ තොරතුරු සකසන අතර එමගින් ෆේස්බුක්, ඉන්ස්ටග්&zwj;රෑම් හෝ මැසෙන්ජර් හි ඇති
        ගිණුම් වලට අදාලව සුදුසු ක්&zwj;රියාමාර්ග ගත හැකිය. විවිධ ෆේස්බුක් සමාගම් නිෂ්පාදනවල අද්විතීය පරිශීලකයින් ගණන
        අවබෝධ කර ගැනීම වැනි ෆේස්බුක් සමාගම් නිෂ්පාදන භාවිතා කරන ආකාරය හා ඔවුන් සමඟ කටයුතු කරන ආකාරය තේරුම් ගැනීමට ද අපි
        කටයුතු කරන්නෙමු.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><strong>&nbsp;මා පිළිබඳ තොරතුරු කළමනාකරණය හෝ මකා දැමිය හැක්කේ කෙසේද?</strong></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><span style="font-weight: 400;">ඔබගේ දත්ත වලට ප්&zwj;රවේශ වීමට, නිවැරදි කිරීමට, port කිරීම හා මකාදැමීමේ හැකියාව
        අපි ඔබට ලබා දෙමු. ඔබගේ ෆේස්බුක් සැකසුම් සහ ඉන්ස්ටග්&zwj;රෑම් සැකසුම් වලින් වැඩිදුර ඉගෙන ගන්න.</span></p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">අපගේ සේවාවන් සහ ෆේස්බුක් නිෂ්පාදන සැපයීම තවදුරටත් අවශ්&zwj;ය නොවන තෙක් හෝ ඔබේ
        ගිණුම මකා දමන තුරු අපි දත්ත ගබඩා කරන්නෙමු - මෙය පලමුව සිදුවන සිද්ධිය අනුව තීරණය වේ. මෙය දත්තවල ස්වභාවය, එය රැස්
        කරන්නේ හා සකසන්නේ ඇයි සහ අදාළ නෛතික හෝ මෙහෙයුම් රඳවා ගැනීමේ අවශ්&zwj;යතා වැනි දේ මත රඳා පවතී. උදාහරණයක් ලෙස, ඔබ
        ෆේස්බුක් හි යමක් සොයන විට, ඔබට ඕනෑම වේලාවක ඔබේ සෙවුම් ඉතිහාසය තුළ සිට එම විමසුම වෙත ප්&zwj;රවේශ විය හැකි අතර මකා
        දැමිය හැකිය, නමුත් මාස 6 කට පසු එම සෙවුමේ ලොගය මකා දැමෙනු ඇත. ගිණුම් සත්&zwj;යාපන අරමුණු සඳහා ඔබ විසින් රජය
        විසින් නිකුත් කරන ලද හැඳුනුම්පතේ පිටපතක් ඔබ ඉදිරිපත් කරන්නේ නම්, ඉදිරිපත් කිරීමෙන් දින 30 කට පසු අපි එම පිටපත
        මකා දමමු. ඔබ බෙදාගත් අන්තර්ගතය මකා දැමීම සහ සමාජ ප්ලගීන හරහා ලබාගත් කුකී දත්ත ගැන තව දැනගන්න.</span></p>
    <p><span style="font-weight: 400;">ඔබ ඔබගේ ගිණුම මකා දැමූ විට, ඔබගේ ඡායාරූප සහ තත්ව යාවත්කාලීන කිරීම් වැනි ඔබ පළ කළ
        දේවල් අපි මකා දමන්නෙමු, එවිට ඔබට එම තොරතුරු පසුව ලබා ගත නොහැක. ඔබ ගැන අන් අය බෙදාගෙන ඇති තොරතුරු ඔබගේ ගිණුමේ
        කොටසක් නොවන අතර ඒවා මකා නොදමනු ඇත. ඔබට ඔබගේ ගිණුම මකා දැමීමට අවශ්&zwj;ය නැති නමුත් නිෂ්පාදන භාවිතය තාවකාලිකව
        නැවැත්වීමට අවශ්&zwj;ය නම්, ඒ වෙනුවට ඔබට ඔබේ ගිණුම අක්&zwj;රිය කළ හැකිය. ඕනෑම වේලාවක ඔබගේ ගිණුම මකා දැමීමට,
        කරුණාකර ෆේස්බුක් සැකසුම් සහ ඉන්ස්ටග්&zwj;රෑම් සැකසුම් වෙත පිවිසෙන්න.</span></p>
    <p><br /><br /></p>
    <p><span style="font-weight: 400;">&nbsp;</span><strong>නීතිමය ඉල්ලීම්වලට අප ප්&zwj;රතිචාර දක්වන්නේ කෙසේද?</strong>
    </p>
    <p>&nbsp;</p>
    <p><span style="font-weight: 400;">අපි ඔබේ තොරතුරු නියාමකයින්, නීතිය ක්&zwj;රියාත්මක කරන්නන් හෝ වෙනත් අය සමඟ
        ප්&zwj;රවේශ වීම, සංරක්ෂණය කිරීම සහ බෙදාගැනීම:</span></p>
    <p><br /><br /><br /></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p><span style="font-weight: 400;">&nbsp;</span></p>
    <p>&nbsp;</p>
  </mat-expansion-panel>
</mat-accordion>
</div>