<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgb(8, 8, 8) !important">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">මුල් පිටුව</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="privacystatements">රහස්‍යතා ප්‍රතිපත්ති</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="requests">නව ප්‍රතිපත්ති එකතු කිරීම</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="forum">ෆෝරමය</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">අප අමතන්න</a>
      </li>
    </ul>
  </div>
</nav>

<section class="home-about-area section-gap" id="addPost">
  <div class="row row justify-content-center align-items-center">
    <div class="col-md-8 pb-30 header-text text-center">
      <h1 class="mb-10">ඉල්ලුමක් කරන්න</h1>
      <p>
        නව පරිවර්තනයක් ඉල්ලුම් කරන්න
      </p>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="card col-12">
        <div class="card-header">
          <h3>Make a request</h3>
        </div>
        <div class="car-body justify-content-center align-items-center">
          <form [formGroup]="newRequest">
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Request</label>
                  <input name="request" id="request" type="text" class="form-control" formControlName="request"
                    placeholder="Request" required>
                </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>URL</label>
                  <input name="url" id="url" type="text" class="form-control" formControlName="url"
                    placeholder="URL" required>
                </div>
              </div>
            </div>
            <input name="user_id" id="user_id" type="text" class="form-control" formControlName="user_id""
              hidden>
            <button type="submit" class="primary-btn" (click)="addRequest(newRequest.value)">පලකරන්න</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
