<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: rgb(8, 8, 8) !important">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">මුල් පිටුව</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">රහස්‍යතා ප්‍රතිපත්ති</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">නව ප්‍රතිපත්ති එකතු කිරීම</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="forum">ෆෝරමය</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">අප අමතන්න</a>
      </li>
    </ul>
  </div>
</nav>

<section class="home-about-area section-gap" id="replies">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="card col-12">
        <div class="card-header">
          <h3></h3>
          <p></p>
        </div>
        <div class="card-body">

        </div>
        <div class = "card-footer">
            <form [formGroup]="newComment">
                <div class="row">
                  <div class="col-md-8 pb-1">
                    <div class="form-group">
                      <input name="reply" id="reply" type="text" class="form-control" formControlName="reply"
                        placeholder="Comment" required>
                    </div>
                  </div>
                </div>
                <input name="user" id="user" type="text" class="form-control" formControlName="user_id" value="test"
                  hidden>
                <input name="date_a" id="date_a" type="text" class="form-control" formControlName="date_a" value="" hidden>
                <input name="post_id" id="post_id" type="text" class="form-control" formControlName="post_id"
                  [value] ="post.id" hidden>
                <button type="submit" class="primary-btn" (click)="addComment(newComment.value)">Submit</button>
                <a [routerLink]="['/comments', post.id]">View All Comments</a>
              </form>
        </div>
      </div>
    </div>
  </div>
</section>
